// Body
// $body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$color-blue: #3490dc;
$color-indigo: #6574cd;
$color-purple: #9561e2;
$color-pink: #f66d9b;
$color-red: #e3342f;
$color-orange: #f6993f;
$color-yellow: #ffed4a;
$color-green: #38c172;
$color-teal: #4dc0b5;
$color-cyan: #6cb2eb;
