// main: ../main.scss
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Indent-bars component
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
.indent-bars {
    width: 1.5rem; height: .125rem;
    @include flexbox;
    &:before, &:after {
        content: ' ';
        width: 50%;
        height: 100%;
    }
    &:before { background-color: #C9161D }
    &:after { background-color: #0C8A3E }
    
    &.bars-sm { width: .875rem }
    &.bars-lg { width: 2.25rem }
}
// --------------------------------------------------------------------------
