// main: ../main.scss
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Title component
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
.title-pages{
    @include flexbox;
    @include align-items(center);
    margin-bottom: 1.625rem;

    .icon-title{
        width: 1.5rem;
        margin-right: 1rem;
    }
    .text-title{
        font-size: 1.125rem;
        font-weight:700;
    }
}
