.alert-success {
    color: #fff;
    background-color: #1f9e3c;
}

.alert-navy {
    color: #fff;
    background-color: #000080;
}

.alert-purple {
    color: #fff;
    background-color: #6f42c1;
}

.alert-indigo {
    color: #fff;
    background-color: #414dbb;
}

.alert {
    a { text-decoration: none }
}