// main: _main.scss

// ==========================================================================
// Color Website
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
$primaryColor      : #FE4B44;
$secondaryColor    : #FBDFD4;

$mainColor     : #fe4b44;
$subColor_01   : #ff9a8a;
$subColor_02   : #fbdfd4;
$baseColor_01  : #f5f2e9;
$baseColor_02  : #ffffff;
$blackColor_01 : #303030;
$blackColor_02 : #888888;
$blackColor_03 : #bbbbbb;
$blackColor_04 : #E4E4E4;
$blackColor_05 : #d3d3d3;
$bg_input      : #EBE5D5;
